.User {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    .Title {
        > h4 {
            margin: 0;
        }
        > p {
            margin: 6px 0 0 0;
            color: red;
        }
    }

    .UserHeader {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 8px;

        .SearchBox {
            position: relative;
            display: flex;
            width: auto;
            height: 54px;
            margin: 8px;
            .SearchTextField {
                input {
                    padding-right: 40px;
                }
            }
            > img {
                position: absolute;
                right: 12px;
                top: 18px;
                cursor: pointer;
            }
        }
    }

    .UserCheckBox {
        width: 100%;
        padding: 0 0 0 20px;
        font-weight: 400;
    }

    th {
        font-weight: bold;
    }

    .CollapseImage {
        &[data-select="true"] {
            transform: rotate(180deg);
        }
    }
    .ChildrenTableRow {
        border: none;
        .ChildrenTableHead {
            > tr > th {
                padding: 0 16px;
            }
        }
    }
}
