.Dashboard {
    display: flex;
    align-items: center;
    .SearchBox {
        position: relative;
        display: flex;
        width: auto;
        height: 54px;
        margin: 8px;
        .SearchTextField {
            input {
                padding-right: 40px;
            }
        }
        > img {
            position: absolute;
            right: 12px;
            top: 18px;
            cursor: pointer;
        }
    }
}
