.SideMenu {
    > li {
        display: flex;
        justify-content: space-between;
        > img {
            cursor: pointer;
        }
    }

    article {
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
    }

    article[data-display="false"] {
        transform: translateX(-260px);
    }
}
